html {
  background-color: #A2DBFA;
}

body {
  margin: 0;
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.top-container {
  background-color: #C0FEFC;
}

h1 {
  font-size: 48px;
  font-family: 'Ephesis', cursive;
  margin: 0;
}

.middle-container,
.bottom-container {
  width: 200px;
  height: 200px;
}

.middle-container {
  background-color: blue;
}

.bottom-container {
  background-color: red;
}
